.date-divider {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px;
}

.date-divider::before, .date-divider::after {
  content: '';
  height: 1px;
  background-color: silver;
  flex-grow: 1;
  margin-left: 15px;
  margin-right: 15px;
}
