.date-divider {
  display: flex;
  align-items: center;
  font-size: 0.9375rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.date-divider::before, .date-divider::after {
  content: '';
  height: 1px;
  background-color: silver;
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}
